endpoint_add_udp    "0.0.0.0:22003"
endpoint_add_tcp    "0.0.0.0:22005"
endpoint_add_voice  "0.0.0.0:22007"

sets locale          "pt-BR"
sets sv_projectName  "MTAX Default Server"
sets sv_projectDesc  "Default Server"
sets tags            "default, mtaxsa"

load_server_icon logo.jpg
#sets banner_detail      "http://url.to/image.png"
#sets banner_connecting  "http://url.to/image.png"
sets store_url          "https://mtaxsa.com"
sets discord_url        "https://mtaxsa.com/discord"

sv_maxclients 32
set sv_licenseKey ""

set sv_password ""

set ac_enabled  1
set ac_shadow   0
set ac_trail    "logs/anticheat.log"
set ac_kick_on  "protocol-plaintext"
set ac_enforce              0
set ac_validate_damage      0
set ac_damage_burst_cap     900.0
set ac_strict_event_source  0
set ac_macro                1

set ac_integrity            0
set ac_integrity_enforce    0
set ac_integrity_interval   60

set sv_tickRate         50
set sv_httpDownloadUrl  ""
set sv_assetAckTimeout  120000

set voice_maxDistance  40.0

ensure [utils]
ensure [mtax]