endpoint_add_udp    "0.0.0.0:22003"
endpoint_add_tcp    "0.0.0.0:22005"
endpoint_add_voice  "0.0.0.0:22007"

sets locale          "pt-BR"
sets sv_projectName  "MTAX Default Server"
sets sv_projectDesc  "Default Server"
sets tags            "default, mtaxsa"

load_server_icon logo.jpg
#sets banner_detail      "http://url.to/image.png"
#sets banner_connecting  "http://url.to/image.png"
sets store_url          "https://mtaxsa.com"
sets discord_url        "https://mtaxsa.com/discord"

sv_maxclients 32
set sv_licenseKey ""

set sv_password ""

set sv_tickRate         50
set sv_httpDownloadUrl  ""
set sv_assetAckTimeout  120000

set voice_maxDistance  40.0

ensure acls
ensure accounts
ensure respawn
ensure database
ensure fpsping
ensure assets
ensure voice