<acl>
    <group name="Everyone">
        <object name="user.*"></object>
    </group>
    <group name="Admin">
        <object name="resource.acpanel"></object>
        <object name="user.Netinhokmk"></object>
    </group>
    <group name="Console">
        <object name="user.Netinhokmk"></object>
    </group>
</acl>